h1, h2, h3, h4 {
    margin-top: 10px;
}

.btnVerde {
    background-color: #4CAF50;
    color: white
}

/* Inicio Login */
#inputLogin {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

#inputPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
/* Fim Login */

/* Inicio Barra Busca */
#inputBusca {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#btnBusca {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Fim Barra Busca */

/* Inicio Navbar */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 14pt;
}
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}
  
.nav li a:hover:not(.active) {
    background-color: #111;
}
  
.nav .active {
    background-color: #4CAF50;
}
/* Fim Navbar */

/* Inicio Home */
#barraLateral {
  height:100vh;
  background-image: linear-gradient(#6EFF72,#6EFF72 80%, #FFF);
}

.texto {
    font-size: 12pt;
}

.subTexto {
    padding: 0.4cm;
    font-size: 12pt;
    margin-left: 1rem;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.subTexto:hover {
    text-decoration: none;
    background-color: #000;
    color: #FFF;
}

.justificar {
    text-align: justify;
}
/* Fim Home */

.alinhaDireita {
    text-align: right;
}

.table td, th {
    text-align: center;
}

.table .thead-dark th {
    text-align: center;
    color: #fff;
    background-color: #333;
    border-color: #333;
}

